 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>企業情報</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
		     <h3> 名称 </h3>
		     <p>株式会社MTMシステムズ</p>
		     <h3> 代表取締役</h3>
		     <p>城野遼太</p>
		     <h3> 設立 </h3>
		     <p>2014年8月1日</p>
		     <h3> 資本金 </h3>
		     <p>100万円</p>
		     <h3> 主要取引先 </h3>
		     <p>国立大学法人 電気通信大学</p>
		     <p>株式会社 ワイヤレスコミュニケーション研究所</p>
		     <h3> 住所 </h3>
		     <p>東京都調布市調布ヶ丘１丁目５番１　電気通信大学西１１号館４１１</p>
                </div>
                <div class="col-lg-4">
		  <h3> 沿革 </h3>
		  <p>2014年8月1日　MTMシステムズ設立</p>
                </div>
            </div>
        </div>
    </section>
