 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>企業情報  CORPORATE INFORMATION</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
		     <h3> 名称  (Name) </h3>
		     <p>株式会社MTMシステムズ</p>
		     <p>(MTM Systems, Inc.)</p>
		     <h3> 代表取締役 (CEO)</h3>
		     <p>城野遼太 (SHIRONO Ryouta)</p>
		     <h3> 設立 (Founded)</h3>
		     <p>2014年8月1日 (Oct. 1, 2014)</p>
		     <h3> 資本金 (Capital)</h3>
		     <p>100万円</p>
		     <p>one million JPY</p>
		     <h3> 主要取引先 (MAJOR CONSOLIDATED SUBSIDIARIES)</h3>
		     <p>国立大学法人 電気通信大学</p>
		     <p>The University of Electro-Communications</p>
		     <h3> 所在地  (OFFICE LOCATION)</h3>
		     <p>東京都調布市調布ヶ丘１丁目５番１　電気通信大学西１１号館４１１</p>
		     <p>( 1-5-1 Chofu-ga-oka Chofu-city Tokyo</p>
		     <p>The University of Electro-Communications West Bldg#11, 411 )</p>
                </div>
                <div class="col-lg-5">
		  <h3> 沿革 (OUR HISTORY)</h3>
		  <ul>
		    <li>
		      <dt>2014年8月1日 (Oct. 1, 2014)</dt><dd>MTMシステムズ設立 (MTM Systems, Inc. was founded)</dd>
		    </li>
		  </ul>
                </div>
            </div>
        </div>
    </section>
