 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
			    
			    
			    {% if post.sakura %}
			    <div class="col-lg-12 text-center">
		  
			      <h2>Product List</h2>
			      <hr class="star-primary">
			      {% if post.link %}
			      <a href="{{ post.link }}">詳細はこちらから　More Infomation</a>
			      {% endif %}
			      <p>Mail: sakura(atmark)mtmsoftware.net </p>
			      
			    </div>
			
			    <div class="row">
			      <div class="col-lg-5 col-lg-offset-1">
				<h3>SAKURA-G</h3>
				<p>JPY 160,000 + Tax + Postage</p>
				<a href="http://satoh.cs.uec.ac.jp/SAKURA/hardware/SAKURA-G.html">More infomaton</a>
				<img src="img/portfolio/SAKURA-G.jpg" class="img-responsive img-centered" ></img>
			      </div>
			      
			      <div class="col-lg-5">
				<h3>SAKURA-X</h3>
				<p>JPY 370,000 + Tax + Postage</p>
				<a href="http://satoh.cs.uec.ac.jp/SAKURA/hardware/SAKURA-X.html">More infomaton</a>

				<img src="img/portfolio/SAKURA-X.jpg" class="img-responsive img-centered" ></img>
			      </div>
			      
			    </div>
			    {% endif %}


			    
                            <p>{{ post.description }}</p>
                            <p>{{ post.content }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>{{ post.client }}</strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }} </strong>
                                </li>
                                <li>Service:
                                    <strong>{{ post.category }}</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
